*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","宋体",sans-serif,"苹方";
	list-style: none;
	font-style: normal;
}
body{
	background: #f2f2f2;
}
a{
	text-decoration: none;
}
img{
	border: none;
	/*width: 100%;
	height: 100%;*/
}
